# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
publish/

# Visual Studio
.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Rider / VS Code / Visual Studio Code
.idea/
.vscode/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
project.lock.json
project.fragment.lock.json
artifacts/

# Test and coverage
[Tt]est[Rr]esult*/
*.coverage
*.coveragexml
coverage*.json
coverage*.xml

# Publish profiles' local settings
*.pubxml.user
*.publishproj.user

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
